In [4]:
import pandas as pd

In [6]:
ufos = pd.read_csv("ufos.csv")
ufos

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
996,10/12/1982 05:30,pearlington,ms,us,light,29.0,29 seconds,Round light which was observed going into spac...,12/12/2013,30.246389,-89.611111
997,10/12/1985 23:45,swansboro,nc,us,disk,300.0,23:45 - 23:50,My sister and I observed a disk for about 5 mi...,12/2/2000,34.687500,-77.119444
998,10/12/1988 16:30,melbourne (vic&#44 australia),NaN,au,cigar,900.0,15 min&#39s,Large cigar shaped craft&#44flying sideways&#4...,9/29/2004,-37.813938,144.963425
999,10/12/1994 11:55,schenectady,ny,us,other,120.0,a few minutes,I had just picked up my Daugther (2yrs old) fr...,4/1/2001,42.814167,-73.940000
1000,10/12/1994 15:00,monticello,ky,us,chevron,120.0,1-2 minutes,Triangular/chevron small object with fixed lig...,10/30/2006,36.829722,-84.849167